h1 {
    text-align: center;
    margin: 40px 0 0 0;
}

.mainContainer {
    justify-content: center;
    display: flex;
    margin: 75px 0 75px 0;
    height: 450px;
    width: auto;
}

#gameContainer {
    width: 600px;    
    display: grid;
    justify-content: center;
    background-color: black;
    grid-template-columns: auto auto auto auto auto auto auto;
    padding: 20px;
    border: 5px solid green;
}

.circle {
    display: flex;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 5px;
    border-radius: 50%;
    height: auto;
    width: 23px;
    border: 1px solid green;
}

.sidePanel {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    width: 25vw;

}

.playerName {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid yellow; */
    width: 250px;
    height: 60px;
    font-size: 22px;
    background-color: white;
    color: black;
}

.navBar {
    text-align: center;
}

.optionsContainer {
    justify-content: space-around;
    align-content: center;
    display: none;
}

.mainButton {
    display: flex;
    width: 175px;
    justify-content: center;
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 10px;
    margin: auto;
    font-size: 16px;
}

.subButton {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 10px;
}

.playerOne {
    background-color: red
}

.playerTwo {
    background-color: blue;
}

.scoreBox {
    display: flex;
    border: 2px solid yellow;
    text-align: center;
    justify-content: center;
    align-content: center;
    height: 60px;
}